* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d2d2d2;
    font-family: 'Nunito', sans-serif;
}

span {
    color: teal;
}

a {
    text-decoration: none;
}


.subTitulos {
    background-color: #e2e2e2;
    font-weight: 700;
    padding: 4px;
    width: 240px;
    margin: 0 auto;
    color: teal;
    font-size: 28px;
    text-align: center;
}

#cabecalho {
    height: 90px;
    background-image: linear-gradient(195deg, #0f0f0f 15%, #010191 70%);
    max-width: 1280px;
    min-width: 720px;
    margin: 0 auto;
}

#titulo {
    margin-top: 12px;
    font-size: 40px;
    color: #0f0f0f;
}

span:hover {
    color: #03e3f3;
}

#titulo:hover {
    color: black;
}

#my-name {
    float: left;
    width: 200px;
    margin: 15px 0 0 20px;
}

#menu {
    float: right;
    text-align: right;
    width: 440px;
    margin: 48px 15px 0 0;
}

#menu ul li {
    display: inline-block;
    line-height: 38px;
}

#menu ul li a {
    padding: 5px 10px;
    font-size: 17px;
    font-weight: 700;
    color: teal;
}

#menu li a:hover {
    color: #03e3f3;
}

#conteudo {
    background-color: aquamarine;
    clear: both;
    margin: 8px 0 0 0;
}

.box {
    background-color: #e2e2e2;
    width: 540px;
    padding: 10px;
    margin: 15px auto;
}

#listHab {
    margin: 10px auto;
    width: 500px;
}