* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2dce42;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: #2dce42;
}

a {
    text-decoration: none;
}

#nome {
    clear: both;
    font-size: 25px;
    text-align: center;
    background-color: #fff;
    padding: 5px 10px;
    margin: 15px auto;
    width: 480px;
    color: teal;
}

.subTitulos {
    background-color: #fff;
    font-weight: 700;
    padding: 4px;
    width: 240px;
    margin: 0 auto;
    color: teal;
    font-size: 28px;
    text-align: center;
}

#paginaCompleta {
    margin: 0 auto;
    width: 720px;
}

#cabecalho {
    height: 120px;
    background-color: #fff;
    border-bottom: 5px solid teal;
}

#titulo {
    margin-top: 12px;
    font-size: 40px;
    color: teal;
}

#logo {
    float: left;
    width: 360px;
    margin: 15px 0 0 20px;
}

#redesSociais {
    float: right;
    width: 240px;
    margin-top: 15px;
}

#menu {
    clear: both;
    float: left;
    margin: 10px 0 0 10px;
}

#menu ul li {
    display: inline-block;
    line-height: 38px;
}

#menu ul li a {
    padding: 11px 15px 11px 15px;
    color: teal;
}

#menu a:hover {
    border-bottom: 5px solid #2dce42;
}

#conteudo {
    clear: both;
    margin: 40px 0 0 0;
}

.box {
    background-color: #fff;
    padding: 25px;
    margin: 15px auto;
}

#listHab {
    margin: 10px auto;
}

#fotoPerfil {
    border-radius: 5%;
    border: 2px ridge gray;
    border-style: ;
}

#painelFotos {
    float: left;
}

#sobre {
    float: right;
    width: 400px;
}

#rodape {
    clear: both;
    background-color: #fff;
    color: teal;
    padding: 10px 15px;
    text-align: right;
}