* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #363636;
}

span {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

header {
  height: 75px;
  background-color: #111111;
}

.hr-class {
  width: 30%;
  margin: 30px auto;
  padding: 1px;
  background-color: #fcfcfc;
}

.cabecalho {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: flex-end;
}

.menu {
  width: 40%;
  min-width: 500px;
  display: flex;
  justify-content: flex-end;
}

.menu-list {
  display: flex;
  justify-content: center;
}

.my-name {
  display: flex;
}

.list {
  font-size: 16px;
  padding: 5px 10px;
}

.list a {
  color: #8026aa;
}

.list a:hover {
  color: #ae49dd;
}

#titulo {
  margin-top: 12px;
  font-size: 40px;
  color: #8026aa;
  opacity: 0.8;
  cursor: pointer;
}

#titulo:hover {
  opacity: 1;
}

.subTitulos {
  background-color: #1a1a1a;
  opacity: 0.8;
  font-weight: 700;
  padding: 4px;
  width: 240px;
  margin: 15px auto;
  color: white;
  font-size: 28px;
  text-align: center;
}

.subTitulos:hover {
  opacity: 1;
}

.foto-perfil {
  border-radius: 50%;
  width: 450px;
}

.foto-perfil:hover {
  box-shadow: 0 0 2rem rgb(0, 0, 0);
}

#conteudo {
  background-image: linear-gradient(0deg, #fcfcfc 0%, #3c0157 70%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.sobre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  max-width: 1200px;
  height: 100vh;
}

#painel-fotos {
  align-self: center;
}

#biografia {
  align-self: center;
}

.img-modif {
  width: 220px;
  height: 240px;
}

#skills {
  max-width: 720px;
  margin: 0 auto;
}

#habilidades {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.box-skill {
  background-color: #1a1a1a;
  margin: 25px 0;
  padding: 15px;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 15px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.box-skill:hover, .box:hover {
  opacity: 1;
  box-shadow: 0 0 2rem rgb(0, 0, 0);
}

.box {
  text-align: center;
  background-color: #1a1a1a;
  width: 420px;
  font-size: 20px;
  padding: 10px;
  opacity: 0.8;
  color: white;
}

.copetencias {
  color: white;
}

.img-project {
  width: 220px;
  margin: 10px;
  border-radius: 50%;
}

.center-link {
  display: flex;
  justify-content: center;
}

.box-list {
  display: flex;
  margin-top: 40px;
  justify-content: flex-start ;
  flex-basis: 90%;
  background-color: #1a1a1a;
  opacity: 0.8;
}

.box-list:hover {
  opacity: 1;
  box-shadow: 0 0 2rem rgb(0, 0, 0);
}

.box-project h3, p {
  margin-bottom: 20px;
  text-align: center;
}

.box-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  padding: 20px;
}
.content-rodape {
  margin-top: 80px;
  text-align: center;
  background-color: #1a1a1a;
  height: 200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: white;
  font-size: 22px;
}

.img-social {
  width: 40px;
}

.social {
  padding: 15px;
}

.color-roxo {
  color: #8026aa;
}

.link-social {
  margin: 15px; 
}

@media screen and (max-width: 768px){
  header .menu {
    display: none;
  }

  .foto-perfil {
    width: 280px;
  }

  #titulo {
    opacity: 1;
  }

  .box {
    width: 90%;
    max-width: 500px;
    font-size: 20px;
    margin: 0 auto;
  }
  
  .box-list {
    flex-direction: column;
    align-items: center;
  }

  .img-social {
    width: 60px;
  }

  .img-project {
    margin: 10px;
  }
}