html {
    cursor: url(img/mata_mosca.png) 30 30, auto;
}

body {
    background: url(img/bg2.jpg);
    background-repeat: no-repeat;
}

.mosquito1 {
    width: 70px;
    height: 70px;
}

.mosquito2 {
    width: 80px;
    height: 80px;
}

.mosquito3 {
    width: 80px;
    height: 80px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.content-msg {
  background-color: #c26e21;
  color: #fff;
  margin: 30px auto;
  width: 300px;
  height: 36px;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {

  .container {
    margin-top: 80px;
  }

  .img-principal {
    width: 220px;
  }

  .mosquito1 {
    width: 50px;
    height: 50px;
  }

  .mosquito2 {
    width: 70px;
    height: 70px;
  }

  .mosquito3 {
    width: 80px;
    height: 80px;
  }

  .painel {
    width: 170px;
  }

}