html {
    cursor: url(img/mata_mosca.png) 30 30, auto;
}

body {
    background-image: url(img/bg2.jpg);
    background-repeat: no-repeat;
}

.mosquito1 {
    width: 90px;
    height: 90px;
}

.mosquito2 {
    width: 110px;
    height: 110px;
}

.mosquito3 {
    width: 130px;
    height: 130px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}
