* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  background-color: #1a1a1a;
}

header {
  display: flex;
  background-image: url(img/fundo-pokemon.jpg);
  background-position: center;
  background-size: cover;
  height: 200px;
  border-bottom: 2px solid greenyellow;
}

.loading img {
  height: 600px;
  width: 600px;
}

.content-gif {
  width: 600px;
  margin: 0 auto;
}

img {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

.title {
  color: #210b4b;
}

.cabecalho {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.links-nav {
  display: flex;
}

.links-nav li {
  margin: 0 10px 5px 30px;
}

.links-nav li a {
  font-size: 1.2em;
  color: #0f5b99;
  font-weight: 600;
}

.links-nav li a:hover {
  color: #09a5bd;
}

.content-detalhes {
  margin: 30px auto 0;
  text-align: center;
}

.pokemons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  min-width: 540px;
  margin: 0 auto;
}

.pokemonList {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 200px;
  background-color: #dacd1d;
  margin: 10px;
  border-radius: 15%;
  transition: 0.3s;
}

.pokemonList:hover {
  width: 160px;
  height: 210px;
  background-color: #f1e96b;
  margin: 5px;
}

.btn-details,
.menos-detalhes {
  cursor: pointer;
  color: #0f5b99;
  font-weight: 600;
  margin-top: 8px;
}

.btn-details:hover,
.menos-detalhes:hover {
  font-size: 1.15em;
  color: #09a5bd;
}

.name-pokemon {
  color: #0f5b99;
  font-weight: 900;
  padding: 10px;
  font-size: 1.3em;
}

.detalhes-pokemon {
  color: #080808;
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.conteudo {
  margin-top: 20px;
  display: flex;
}

footer {
  margin-top: 40px;
  background-color: #ffffff;
  display: flex;
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  font-weight: 800;
  height: 100px;
}

.green {
  color: #0fc035;
}
